ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-body{
  height: 100vh;
  width: 100vw;
}
.header{
  box-sizing: border-box;
  border-bottom: 1px solid #456761;
  height: 40px;
  width: 100%;
  background-color: #2D364C;
}
.app-icon{
  height: 100%;
  color: white;
}
.header-title{
  height: 100%;
  color: white;
}
.manage{
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.manage button{
  float: left;
  width: 40px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
}
.left-side-menu{
  width: 70px;
  height: calc(100% - 40px);
  background-color: #2A3349;
  position: relative;
  float: left;
}
.router-body{
  float: left;
  height: calc(100% - 40px);
  width: calc(100% - 70px);
  background-color: #353F59;
  overflow-x: hidden;
  overflow-y: scroll;
}
.category-container{
  height: 70px;
  width: 100%;
  color: #0CB754;
  transition: .4s;
  font-weight: 400;
}
.category-container:hover{
  background-color: #6534AC;
  color: wheat;
  transition: .4s;
  font-weight: 500;
}
.category-container:hover .genre-list{
  display: block;
}
.category{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.category-icon{
  font-size: 36px;
}
.category-name{
  padding-top: 10px;
  font-size: 14px;
}
.genre-list{
  position: absolute;
  left: 100%;
  display: none;
  top: 0px;
  z-index: 1;
  width: 250px;
  height: 100%;
  background-color: #6534AC;
}
.genre-list li{
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  font-size: 16px;
  color: wheat;
  transition: .4s;
  font-weight: 400;
  background-color: #6534AC;
}
.genre-list li:hover{
  background-color:#37067E;
  padding-left: 20px;
  transition: .4s;
  font-weight: 500;
}

